{% extends 'base.html' %}

{% block meta %}
  <title>Create Post</title>
{% endblock %}

{% block content %}
<head>
  <link rel="shortcut icon" href="https://s.4cdn.org/image/favicon.ico">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>

{% load crispy_forms_tags %}
  <div id="postForm">
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success" id="replyButton">Post</button>
    </form>
  </div>
{% endblock %}
