{% extends 'base.html' %}

{% block meta %}
  <title>Home Forum</title>
{% endblock %}

{% block content %}
  <div id="parent-container">
    {% if posts.first == None %}
      <h4>There is no post yet</h4>
    {% else %}
      <div id="posts">
        {% for post in posts %}
          <div>
            <a href="/forum/{{ post.slug }}">
              <h3>{{ post.title }}</h3>
              <h5>{{ post.author }}</h5>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}

